.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  opacity: 0.2;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 10%, 70%);
  }
  100% {
    background-color: hsl(200, 10%, 95%);
  }
}